{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bootstrap Page</title>

</head>

<body>
    {% block body %}
    <div class="container" style="height: 600px; width: 900px; box-shadow:5px 10px rgb(172, 183, 184);">
        <div class="main">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                style="height: 300px; width: 100%; background-color: green;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active mt-5">
                        <h2 style="display: flex; align-items: center; justify-content: center;color: white;">Welcme to
                            green</h2>
                        <div>
                            <p
                                style="padding-left: 100px; padding-right: 100px; color: white; justify-content: center;">
                                Each parameter defines the intensity of the color as an integer between 0 and 255.

                                For example, rgb(0,0,255) is rendered as blue, because the blue parameter is set to its
                                highest value (255) and the others are set to 0.</p>
                        </div>

                        <div style="display: flex; align-items: center; justify-content: center;"><button type="button"
                                class="btn btn-success">Read More</button>
                        </div>
                    </div>
                    <div class="carousel-item  mt-5">
                        <h2 style="display: flex; align-items: center; justify-content: center;color: white;">Welcme to
                            green</h2>
                        <div>
                            <p
                                style="padding-left: 100px; padding-right: 100px; color: white; justify-content: center;">
                                Each parameter defines the intensity of the color as an integer between 0 and 255.

                                For example, rgb(0,0,255) is rendered as blue, because the blue parameter is set to its
                                highest value (255) and the others are set to 0.</p>
                        </div>

                        <div style="display: flex; align-items: center; justify-content: center;"><button type="button"
                                class="btn btn-success">Read More</button>
                        </div>
                    </div>
                    <div class="carousel-item  mt-5">
                        <h2 style="display: flex; align-items: center; justify-content: center;color: white;">Welcme to
                            green</h2>
                        <div>
                            <p
                                style="padding-left: 100px; padding-right: 100px; color: white; justify-content: center;">
                                Each parameter defines the intensity of the color as an integer between 0 and 255.

                                For example, rgb(0,0,255) is rendered as blue, because the blue parameter is set to its
                                highest value (255) and the others are set to 0.</p>
                        </div>

                        <div style="display: flex; align-items: center; justify-content: center;"><button type="button"
                                class="btn btn-success">Read More</button>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4">
                    <i class="fa-solid fa-laptop fa-2xl"></i>
                    <h2>Heading</h2>
                    <p>Some representative placeholder content for the three columns of text below the carousel. This is
                        the first column.</p>
                    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa-regular fa-image fa-2xl"></i>
                    <h2>Heading</h2>
                    <p>Another exciting bit of representative placeholder content. This time, we've moved on to the
                        second column.</p>
                    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <i class="fa-solid fa-list fa-2xl"></i>
                    <h2>Heading</h2>
                    <p>And lastly this, the third column of representative placeholder content.</p>
                    <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div>
        </div>
    </div>
    
<div class="container mt-5" style="background-color: black; color: white ; width: 1000px;">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of whats new and exciting from us.</p>
            <div class="d-block w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control w-100" placeholder="Your Email address"><br>
              <button class="btn btn-primary w-100" type="button" style="background-color: chocolate; border-color: black;">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; 2021 Company, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>
    </div>
    {% endblock %}
</body>

</html>