{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    {%block style%}
    <style>
        .form-popup {

            display: none;

            position: fixed;

            width: 400px;
            padding: 10px;

            background-color: white;

            right: 40%;

            border: 3px solid #f1f1f1;

            z-index: 9;

        }

        .form-container input[type=text],
        .form-container input[type=password] {

            width: 100%;

            padding: 15px;

            margin: 5px 0 10px 0;

            border: none;

            background: #f1f1f1;

        }

        .popup {
            display: none;

            position: fixed;

            width: 400px;
            padding: 10px;

            background-color: white;

            right: 40%;

            border: 3px solid #f1f1f1;

            z-index: 9;
        }

     

        #closePopupBtn {
            margin-top: 10px;
        }
    </style>
    {%endblock%}
</head>


<body>
    {% block body %}
    <div id="apiData">
        <table class="table" id="formDataTable">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
        </table>
    </div>
    <div class="form-popup" id="edit_user_form" style="display: none;">
        <form action="" class="form-container">
            {% csrf_token %}
            <h1 style="display: inline;">Sign Up</h1>
            <img style=" float:right;" onclick="closeForm()"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAlklEQVR4nO2USwqAMAxE3yVS9P4n0Y342+jC4yiFCiKiSVvBhbPqIjOvNGng1xdVAwPgDB5fOwKVprgDVmBWQlyo9Z5WAxBgCoYFKA21hQaghUhsuAYiqeF3EMkVftXE+XS2TNqt5HDrbDd/ApS5wt2bTyQXDbX8E3P4rmSIZhQlFmKZc4mB9AnLrtMAmsh1PQTvr49pAzMqUVBCWOAnAAAAAElFTkSuQmCC">
            <div class="row mt-4">
                <div class="form-floating mb-1  col-6">
                    <input type="email" class="form-control" pattern=".+@gmail\.com" name="email" id="user_email"
                        required="required" />
                    <label for="floatingInput">Email address<span class="required-marker">*</span></label>
                </div>

            </div>
            <div class="row">
                <div class="form-floating mb-1 col-6">
                    <input type="text" class="form-control" id="user_fname" required name="fname"
                        placeholder="First Name" />
                    <label for="floatingInput">First Name<span class="required-marker">*</span></label>
                </div>
                <div class="form-floating mb-1 col-6">
                    <input type="text" class="form-control" id="user_lname" name="lname" required
                        placeholder="Last Name" />
                    <label for="floatingInput">Last Name<span class="required-marker">*</span></label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-1 col-6">
                    <input type="text" class="form-control" id="user_age" name="age" required placeholder="Age" />
                    <label for="floatingInput">Age<span class="required-marker">*</span></label>
                </div>
                <div class="form-floating mb-1 col-6">
                    <input class="form-control" type="tel" id="user_phn" required name="phone" minlength="10"
                        maxlength="10" pattern="[6-9]{1}[0-9]{9}"
                        title="number must start from 6,7,8,9, and must have 10 digits" placeholder="Phone Number" />
                    <label for="floatingInput">Phone Number<span class="required-marker">*</span></label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating mb-1 col-6">
                    <textarea class="form-control" id="user_address" required name="address"
                        placeholder="Address"></textarea>
                    <label for="floatingTextarea">Address<span class="required-marker">*</span></label>
                </div>
                <div class="form-floating mb-1 col-6">
                    <div class="row">
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" id="male_gen" required name="gender"
                                value="Male" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Male
                                <span class="required-marker">*</span>
                            </label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" type="radio" id="female_gen" required name="gender"
                                value="Female">
                            <label class="form-check-label" for="exampleRadios2">
                                Female
                                <span class="required-marker">*</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3" style="width: 50%;" id="signUpBtn">Update</button>

        </form>

    </div>

    <div id="popup" class="form-popup">
        <div class="popup-content">
            <h2>User Deatails</h2>
            <p id="popupData">Data to display</p>
            <button id="closePopupBtn" class="btn btn-primary">Close</button>
        </div>
    </div>


    <script>
        var xhr = new XMLHttpRequest();
        console.log("calling")
        xhr.open("Get", "http://127.0.0.1:8000/person/");
        xhr.onload = function () {
            var mydata = JSON.parse(xhr.responseText);
            renderHtml(mydata)
        };
        xhr.send();
        function renderHtml(data) {
            var tbl = document.getElementById("formDataTable");
            for (j = 0; j < data.length; j++) {
                var row = tbl.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                cell2.innerHTML = data[j].fname;
                cell3.innerHTML = data[j].lname;
                cell4.innerHTML = '<a href="#" id="showDetail" onclick="showData(' + data[j].id + ')"><i class="fa-solid fa-eye"></i></a>' +
                    '<a href="#" onclick="editUser(' + data[j].id + ')"><i class="fa-solid fa-pencil"></i></a>' +
                    '<a href="#" onclick="deletePerson(' + data[j].id + ')"><i class="fa-solid fa-trash"></i></a>'

            }
        }
        // for eye icon  
        function showData(pID) {
            var popup = document.getElementById("popup");
            var showPopupBtn = document.getElementById("showDetail");
            var closePopupBtn = document.getElementById("closePopupBtn");
            showDetail.addEventListener("click", function () {
                popup.style.display = "block";
                fetch(`http://127.0.0.1:8000/person/${pID}/`)
                    .then(res => res.json())
                    .then(data => {
                        console.log(data)
                        var fullName ="Name : "+ data.fname + " " + data.lname;
                        var email = "Email: " + data.email;
                        var address = "Address: " + data.address;
                        var age = "Age: " + data.age;
                        var popupText = fullName + "\n" + email + "\n" + address + "\n" + age;
                        document.getElementById("popupData").textContent = popupText
                    })

            });

            closePopupBtn.addEventListener("click", function () {
                popup.style.display = "none";
            });
        }



        //for edit icon
        function editUser(pID) {
            document.getElementById("edit_user_form").style.display = "block";
            fetch(`http://127.0.0.1:8000/person/${pID}/`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    document.getElementById("user_email").value = data.email;
                    document.getElementById("user_fname").value = data.fname;
                    document.getElementById("user_lname").value = data.lname;
                    document.getElementById("user_age").value = data.age;
                    document.getElementById("user_address").value = data.address;
                    document.getElementById("user_phn").value = data.phone;
                    var genderValue = data.gender;
                    if (genderValue === "Male") {
                        document.getElementById("male_gen").checked = true;
                    } else if (genderValue === "Female") {
                        document.getElementById("female_gen").checked = true;
                    }
                })
            var signUpButton = document.getElementById("signUpBtn");
            signUpButton.addEventListener("click", updateUser(pID));
        }

        //for tresh icon
        function deletePerson(j) {
            console.log(j)
            fetch(`http://127.0.0.1:8000/person/${j}/`, {
                method: "DELETE",
            })
            console.log("deleted")
        }


        function updateUser(pID) {
            var maleRadio = document.getElementById("male_gen");
            var femaleRadio = document.getElementById("female_gen");

            if (maleRadio.checked) {
                var selectedGender = maleRadio.value;
                console.log("Selected gender: " + selectedGender);
            } else if (femaleRadio.checked) {
                var selectedGender = femaleRadio.value;
                console.log("Selected gender: " + selectedGender);
            }
            var data = {
                email: document.getElementById("user_email").value,
                fname: document.getElementById("user_fname").value,
                lname: document.getElementById("user_lname").value,
                age: document.getElementById("user_age").value,
                address: document.getElementById("user_address").value,
                phone: document.getElementById("user_phn").value,
                gender: selectedGender
            };
            console.log(JSON.stringify(data))
            fetch(`http://127.0.0.1:8000/person/${pID}/`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data)
            })
                .then(res => res.json())
                .then(data => {
                    console.log(data.gender)
                })
                .catch(err => console.error(err))
        }
    </script>
    {% endblock %}
</body>

</html>