{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    {% block body %}
    <h1> This Nabvar is fixed</h1>

    <!-- form for counter  -->
    <div class="counter mt-5" style="background-color: rgb(214, 228, 229); display: flex; justify-content: center; align-items: center;  width: 400px;">
        <form id="counter_form">
            <h1 style="text-align: center;">Counter</h1>
            <p style="text-align: center;"><span id="counter_value"></span></p>

            <button class="btn btn-primary " type="button" onclick="decrease()">DECREASE</button>
            <button class="btn btn-primary ms-2" type="button" onclick="resetCounter()">RESET</button>
            <button class="btn btn-primary ms-2" type="button" onclick="increase()">INCREASE</button>
        </form>
    </div>

    <!-- select for color change -->
    <div class="color_dropdown mt-5" style=" background-color:rgb(214, 228, 229);   width: 400px; ">
        <div>
            <div class="dropdown mb-4">
                <select name="cars" id="colors" onchange="changeColor()">
                    <option>select value</option>
                    <option value="Green">Green</option>
                    <option value="red">red</option>
                    <option value="yellow">yellow</option>
                    <option value="cyan">cyan</option>
                </select>
            </div>
        </div>
        <div id="color_div" style="height: 300px; width: 300px; background-color: black; "></div>
    </div>

    <!-- select to remove -->
    <div class="dropdown mt-5" style=" background-color:rgb(214, 228, 229); height: 200px;  width: 400px; ">
        <div class="row">
            <div class="col dropdown mb-4">
                <select name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="removeItem()">Select and Remove</button>
            </div>
        </div>
    </div>

    <!-- click on + to show paragraph  -->
    <div class="showParagraphDiv mt-5" style="background-color: aliceblue; height: 300px; width: 400px;">
        <h3 style="text-align: center; margin-top: 10px;">General questions</h3>
        <div class="card mt-2">
            <div class="card-body" style="text-align: center;">
              This is some text within a card body.   <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body" style="text-align: center;">
              This is some text within a card body.    <i class="fa-solid fa-plus" onclick="showParagraph()"></i>
            </div>
        </div>
        <div class="card mt-2" >
            <div class="card-body" style="text-align: center;">
              This is some text within a card body.     <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>

    <script>

        //counter function 
        var counter = 0;
        document.getElementById("counter_value").textContent = counter;

        function increase() {
            counter += 1;
            document.getElementById("counter_value").textContent = counter;
        }
        function decrease() {
            counter -= 1;
            document.getElementById("counter_value").textContent = counter;
        }
        function resetCounter() {
            counter = 0;
            document.getElementById("counter_value").textContent = counter;
        }

        ////drop down color change function 
        function changeColor() {
            var Selectedval = $('#colors option:selected').text()
            if (Selectedval !== "select value") {
                document.getElementById("colors").style.backgroundColor = Selectedval;
                document.getElementById("color_div").style.backgroundColor = Selectedval;
            }
            else {
                document.getElementById("colors").style.backgroundColor = "white";
                document.getElementById("color_div").style.backgroundColor = "black";
            }
        }



        ////dropdown item remover 
        function removeItem() {
            var list = document.getElementById("cars");
            console.log(list)
            var Selectedval = $('#cars option:selected').text()
            console.log(Selectedval)
            list.remove(Selectedval)
        }

        //show paragraph
        function showParagraph(){
            
        }


    </script>
    {% endblock %}
</body>


</html>