{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Step Form</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <form id="registrationForm">
            <h1>pending</h1>
            <div class="form1">
                <p><input placeholder="First name" ></p>
                <p><input placeholder="Last name" ></p>
            </div>
            <div class="form2">
                <p><input placeholder="E-mail" ></p>
                <p><input placeholder="Phone"></p>
            </div>
            <div class="form3">
                <p><input placeholder="day"></p>
                <p><input placeholder="month"></p>
                <p><input placeholder="year"></p>
            </div>
            <div class="form4">
                <p><input placeholder="Username" ></p>
                <p><input placeholder="Password"></p>
            </div>

        </form>
    </div>
    {% endblock %}
</body>
</html>